body{
    font-family: 'Roboto', sans-serif;
}

.Maclasse{
    color:rgb(150, 150, 150);
}
.MaclasseDeux{
    text-decoration: line-through;
}
.EnteteDisplay{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 500px){
    .EnteteDisplay{
        display: flex;
        flex-direction: row;
    }
}
